.search .text-input,
.search .select-input {
    margin-right: 20px;
    border: 1px solid $medium;
    border-radius: 3px;
   
    label{
        color: var(--medium);
        margin-right: 5px;
    }

    .text-field,
    .select-field {
        padding: 4px 6px;
        border: 1px solid var(--medium);
        border-radius: 5px;
        outline: none;
    }

    .text-error,
    .select-error{
        color: $danger;
        font-size: 0.75em;
    }
}

.search .text-input {
    width: 90%;
}

.search .text-field {
    width: 95%;
}






